---
import type { CollectionEntry } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"
import MainLayout from "./MainLayout.astro"
type Props = CollectionEntry<"blog">["data"]

const { title, description, pubDate, updatedDate } = Astro.props
---

<MainLayout
  title={title}
  description={description}
  class:list={["flex", "flex-grow", "justify-center", "mt-14"]}
>
  <article class="2xl:w-[60%] w-[98%]" ,>
    <div>
      <div>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div>
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <h1 class="mt-3">{title}</h1>
      <hr />
    </div>
    <slot />
  </article>
</MainLayout>
